<div class="content">
  <h1 class="mb-3">英語メモDiary</h1>
  <span>このサイトでは自分で覚えた英語をメモし、<br><strong>自分だけの単語帳を作れます</strong><br>
  それと同時に<strong>日記を作成</strong>することで、<br>どのような時に覚えた単語を使えばいいかをメモできます</span>
  
  <h5 class="mt-3"><%= link_to '詳しい使い方はこちらをクリック！', about_path, class: 'text-nowrap' %></h5>
</div>